html,body{
  margin: 0;
  padding: 0;
}
#main,#footer{
  width: 1280px;
  height: auto;
  margin: auto;
}

.btn{
  padding: 0.2em;
  text-decoration: none;
  border-radius: 0.2em;
  border: 0.1em solid transparent;
}

.btn:hover.btn:active,.btn:focus{
  text-decoration: none;
}
